<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀원 추가 정보</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .person-block {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f9f9f9;
        }
    </style>
</head>

<body>
    <h1>팀원 추가 정보</h1>
    <section class="team-add-info">
        <div class="team-member1">
            <img src="{{ url_for('static', filename='member1_mj.jpg') }}" alt="member1 Photo">
            <h2>김민지</h2>
            <p>프로젝트 팀장</p>
            <p>
                블로그: <a href="https://velog.io/@ggororok/posts">https://velog.io/@ggororok/posts</a>
            </p>
            <p>
                깃헙: <a href="https://github.com/kmj-ggororok">https://github.com/kmj-ggororok</a>
            </p>
        </div>

        <div class="team-member2">
            <img src="member2.jpg" alt="member2 Photo">
            <h2>박성준</h2>
            <p>프로젝트 팀원</p>
            <p>
                블로그: <a href="https://velog.io/@ggororok/posts">https://velog.io/@ggororok/posts</a>
            </p>
            <p>
                깃헙: <a href="https://github.com/kmj-ggororok">https://github.com/kmj-ggororok</a>
            </p>
        </div>

        <div class="team-member3">
            <img src="member3.jpg" alt="member3 Photo">
            <h2>박소희</h2>
            <p>프로젝트 팀원</p>
            <p>
                블로그: <a href="https://velog.io/@ggororok/posts">https://velog.io/@ggororok/posts</a>
            </p>
            <p>
                깃헙: <a href="https://github.com/kmj-ggororok">https://github.com/kmj-ggororok</a>
            </p>
        </div> 
        
        <div class="team-member4">
            <img src="member4.jpg" alt="member4 Photo">
            <h2>이예슬</h2>
            <p>프로젝트 팀원</p>
            <p>
                블로그: <a href="https://velog.io/@ggororok/posts">https://velog.io/@ggororok/posts</a>
            </p>
            <p>
                깃헙: <a href="https://github.com/kmj-ggororok">https://github.com/kmj-ggororok</a>
            </p>
        </div> 

    </section>

</body>
</html>